{{ define "main" }}
	<section class="section has-text-centered">
		{{ partial "glitch-text" (dict "ctx" . "text" "VESZÉLYBEN A DIGITÁLIS ÉLETED") }}
		<p class="subtitle">Mióta az eszemet tudom számítógépekkel foglalkozom.</p>
		<p class="subtitle">Tanulj a legjobbaktól.</p>
	</section>
	<section class="hero">
		<div class="hero-body">
		{{ partial "newsletter-signup" . }}
		</div>
	</section>
	<section class="hero section1" style="margin-bottom: 100px;">
			<div class="columns is-vcentered">
				<div class="column">
					<div class="item">
						<iframe class="rumble" 
							src="https://rumble.com/embed/v1rtmwl/?pub=1jt1r8" 
							frameborder="0" 
							allowfullscreen>
						</iframe>
						<h1 class="title">ROMOKBAN A DIGITÁLIS ÉLETED!</h1>
						<p class="text">
							Valamilyen módon függsz a technológiától? Online bizniszed van/lesz? Sajnos <b>a kibervédelem</b> sok helyen <b>el van hanyagolva</b>: ameddig meg nem történik a baj...<br>
							<b>Bármikor támadás érheti a kastélyod!</b>
						</p>
					</div>
					<div class="item">
						<iframe class="rumble" 
							src="https://rumble.com/embed/v23yk2s/?pub=1jt2gi" 
							frameborder="0" 
							allowfullscreen>
						</iframe>
						<h1 class="title">AZ AUTOMATIZÁLÁS ALAPKÖVE.</h1>
						<p class="text">
							<b>Elég gyorsan</b> eljutsz arra a szintre amikor automatizálod az életed hogy valami komolyabbat is csinálnod <b>kell</b>: ami már igényli <b>a programozást.</b><br>
							<b>Segítek elindulni neked!</b>
						</p>
					</div>
				</div>
				<div class="column">
					<div class="item">
						<iframe class="rumble" 
							src="https://rumble.com/embed/v21qe2k/?pub=1jt2gi" 
							frameborder="0" 
							allowfullscreen>
						</iframe>
						<h1 class="title">MINDEN VPN EGY ÁTVERÉS!</h1>
						<p class="text">
							<b>Ne hagyd magad becsapni</b> a hamis marketing állításokkal: <b>az életedbe is kerülhet.</b> A mai interneten nincs már anonimitás. Persze attól még lehet mire használni ezt a technológiát...
							<b>Építsd ki a saját infrastruktúrád!</b>
						</p>
					</div>
				</div>
			</div>
	</section>
	<!-- {{ partial "newsletter-popup" }} -->
{{ end }}
