<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-logo navbar-item" href="./">🛡️ <i>Vári</i></a>
		<script>
			const toggleBurger = () => {
				let burgerIcon = document.getElementById('burger');
				let dropMenu = document.getElementById('navbar');
				burgerIcon.classList.toggle('is-active');
				dropMenu.classList.toggle('is-active');
			};
		</script>
		<a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false" data-target="navbar" onclick="toggleBurger()">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="navbar" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="https://dc.selfimprov.hu">DISCORD SZERVER</a>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">TARTALOM</a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="https://www.youtube.com/@gergovari">YouTube</a>
					<a class="navbar-item" href="https://rumble.com/user/gergovari">Rumble</a>
					<a class="navbar-item" href="https://odysee.com/$/invite/@gergovari:5">Odysee</a>
					<a class="navbar-item" href="https://www.instagram.com/gergo.vari/">Instagram</a>
					<a class="navbar-item" href="https://www.tiktok.com/@gergo.vari">TikTok</a>
				</div>
			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">PORTFOLIÓ</a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="https://www.github.com/gergovari">GitHub</a>
					<a class="navbar-item" href="https://www.linkedin.com/in/varigergo">LinkedIn</a>
				</div>
			</div>
		</div>
		<div class="navbar-end">
			<a class="navbar-item" href="https://us11.list-manage.com/contact-form?u=30048b300ffcbfa238b616b35&form_id=316eced16f0e2b0943dd672f188e342a">ÍRJ RÁM</a>
			<div class="navbar-button navbar-item">
				<div class="buttons">
					<a class="button is-primary" onclick="togglePopup('popup-newsletter')"><strong>AZ UTOLSÓ ESÉLYED</strong></a>
				</div>
			</div>
		</div>
	</div>
</nav>
